{% extends 'dashboards/base.html' %}
{% load static %}


{% block title %}
    101CRM - панель админинстратора
{% endblock title %}


{% block css %}
    <link rel="stylesheet" href="{% static 'dashboards/dist/css/chunk-vendors.css' %}">
{% endblock css %}


{% block content %}
    <div id="app"></div>
{% endblock content %}


{% block scripts %}
  
  <script src="{% static 'dashboards/dist/js/chunk-vendors.js' %}"></script>
  <script src="{% static 'dashboards/dist/js/chunk-common.js' %}"></script>
  <script src="{% static 'dashboards/dist/js/admin.js' %}"></script>
    
{% endblock scripts %}
    
