  
{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title>{% block title %}{% endblock title %}</title>
        <style>
            html, body {height: 100%;}
            .flex-wrapper {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }
        </style>
        {% block css %}
        {% endblock css %}
    </head>
    <body>
        <div class="flex-wrapper">
            <header></header>
            <div class="content">
                {% block content %}
                {% endblock content %}            
            </div>
            <footer></footer>
        </div>
    </body>
</html>