{% extends 'accounts/base.html' %}


{% block title %}
    Вход в систему
{% endblock title %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-md-8 col-lg-6 m-auto">
            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="button-row">
                    <button type="submit" class="btn btn-block">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
    