[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
factory-boy = "*"
ipython = "*"
pytest-mock = "*"
django-factory-boy-generator = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
pillow = "*"
djangorestframework = "*"
rest-condition = "*"
drf-nested-routers = "*"
celery = {extras = ["redis"],version = "*"}
django-private-storage = "*"
